.image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.title {
    position: relative;
}

.title h1 {
    padding: 0px 30px;
    font-size: 45px;
    font-weight: 800;
}

.title img {
    position: absolute;
    bottom: 0px;
    right: 10px;
    z-index: -1;
    width: 100px;
}

.button {
    padding: 10px 30px;
    border-radius: 50px;
    background: -webkit-linear-gradient(to right, #cbad6d, #d53369); 
    background: linear-gradient(to right, #cbad6d, #d53369); 
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s ease all;
    color: #fff;
}

.button:hover {
    background: #323232;
    transition: 0.5s ease all;
}

a {
    text-decoration: none;
}

@media (max-width:410px) {
    .title h1 {
        font-size: 32px;
    }
}

/*********************** Navbar Component CSS ***********************/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.navbar img {
    width: 80px;
    height: 60px;
}

.navMenu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 18px;
}

.navMenu li {
    cursor: pointer;
    transition: all 0.2s ease;
}

.navMenu li:hover {
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
    -webkit-text-fill-color: transparent; 
    background-clip: inherit;
    -webkit-background-clip: text; 
}

.navMenu li img {
    height: 20px;
    width: 30px;
    position: absolute;
}

.anchorLink {
    color: #FFF;
}

.navConnect {
    padding: 10px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease all;
    display: flex;
    color: #FFF;
}

.navConnect:hover {
    transform: scale(1.05);
}

.navMobileOpen {
    display: none;
}

.navMobileClose {
    display: none;
}

@media (max-width:1025px) {
    .navbar {
        margin: 20px;
    }
}

@media (max-width:768px) {
    .navbar {
        margin: 20px 50px;
    }
    .navConnect {
        display: none;
    }
    .navMobileOpen {
        display: block;
        position: fixed;
        right: 50px;
        font-size: 22px;
    }
    .navMobileClose {
        display: block;
        position: relative;
        top: 30px;
        width: 30px;
        left: 190px;
        font-size: 22px;
    }
    .navMenu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 250px;
        height: 100%;
        z-index: 2;
        transition: all 0.5s;
        right: -350px;
    }
    .navMenu li {
        font-size: 18px;
        padding-left: 40px;
    }

    .navMenu li img {
        display: none;
    }
}

/*********************** Hero Component CSS ***********************/
.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img {
    margin-top: 70px;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 50px;
    font-weight: 600;
}

.hero h1 span {
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
}

.heroAction {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

.heroConnect {
    padding: 10px 30px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s ease all;
}

.heroResume {
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s ease all;
    color: #FFF;
}

.heroConnect:hover {
    border: 2px solid #FFF;
}

.heroResume:hover {
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    border: none;
}

@media (max-width:768px) {
    .hero img {
        margin-bottom: 40px;
        width: 170px;
        height: 170px;
    }
    .hero h1 {
        width: 90%;
        font-size: 32px;
    }
    .heroAction {
        display: block;
        margin-bottom: 0px;
    }
    .heroConnect {
        margin-bottom: 25px;
    }
}

@media (max-width:410px) {
    .hero img {
        width: 140px;
        height: 140px;
    }
    .hero h1 {
        font-size: 26px;
    }
}

/*********************** About Component CSS ***********************/
.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.aboutSection {
    display: flex;
    gap: 80px;
}

.aboutSection .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutSection .right {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.aboutParagraph {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
    font-size: 18px;
}

@media (max-width:768px) {
    .aboutSection .left {
        display: none;
    }
}

@media (max-width:410px) {
    .about {
        align-items: start;
        justify-content: start;
        margin: 0px 25px;
        margin-top: 80px;
        gap: 30px;
    }
    .aboutSection {
        display: block;
        justify-content: center;
        align-items: center;
    }
    .aboutSection .left {
        display: block;
    }
    .aboutSection .left img {
        width: 120px;
        height: 120px;
        margin-left: 100px;
        margin-bottom: 20px;
    }
    .aboutParagraph {
        font-size: 16px;
    }
}

/*********************** Skill Component CSS ***********************/
.skill {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin: 80px 170px;
}

.desc {
    font-size: 18px;
    text-align: center;
    max-width: 700px;
    color: #FFF;
}

.skillsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.skillBox {
    width: 100%;
    max-width: 500px;
    background: black;
    border: 0.1px solid #DA7C25;
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    border-radius: 16px;
    padding: 18px 36px;
}
  
.skillTitle {
    font-size: 28px;
    font-weight: 600;
    color: white;   
    margin-bottom: 20px;
    text-align: center;
}

.skillList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px
}

.skillItem {
    font-size: 16px;
    font-weight: 400;
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.skillImage {
    width: 24px;
    height: 24px;
}

@media (max-width:410px) {
    .skill {
        align-items: start;
        justify-content: start;
        margin: 0px 25px;
        margin-top: 80px;
        gap: 30px;
    }   
}

/*********************** Project Component CSS ***********************/
.myProject {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin: 80px 170px;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.projectCard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
}

.projectCards {
    width: 330px;
    height: 550px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    padding: 26px 20px;
    gap: 14px;
    border: 1px solid #DA7C25;
}

.projectCards:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 50px 4px rgba(0, 0, 0, 0);
    filter: brightness(1.1);
}

.projectCards img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.3);
}

.tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 15px;
    align-items: center;
}

.tag {
    font-size: 14px;
    font-weight: 300;
    color: white;
    background-color: #DA7C25;
    padding: 2px 8px;
    border-radius: 10px;
}

.detail {
    width: 100%;
    gap: 0px;
    padding: 0px 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.projectTitle {
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.date {
    margin-top: 5px;
    color: #a7a6ba;
    font-size: 18px;
}

.description {
    color: #8D89A2;
    text-align: justify;
    font-size: 16px;
}

.links {
    display: flex;
    align-items: center;
    padding-left: 10px;
    justify-content: space-between;
}

@media (max-width:1025px) {
    .projectCards {
        width: 290px;
    }
    .projectCard {
        gap: 6px;
    }
    .description {
        font-size: 14px;
    }
}

@media (max-width:410px) {
    .myProject {
        align-items: start;
        justify-content: start;
        margin: 0px 25px;
        margin-top: 80px;
        gap: 30px;
    }   
}



/*********************** Contact Component CSS ***********************/
.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin: 80px 170px;
}

.contactSection {
    display: flex;
    gap: 300px;
}

.contactSection .left {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactSection .left h1 {
    font-size: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.effect {
    width: 100%;
}

.effect .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.effect a {
    text-decoration: none !important;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 25px;
    overflow: hidden;
    position: relative;
  }

.effect a .icon {
    position: relative;
    z-index: 3;
}

.effect a.fb {
    background-color: #3b5998;
}

.effect a.tw {
    background-color: #00aced;
}

.effect a.wa {
    background-color: #25d366;
}

.effect a.gh {
    background-color: #3b5998;
}

.effect a.li {
    background-color: #007bb6;
}

.effect a.ig {
    background-color: #E4405F;
}

.effect a {
    transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
}
  
.effect a .icon {
    transition: transform 0.4s linear 0s;
}
  
.effect a:hover {
    transform: rotate(360deg);
    border-radius: 50%;
}

.effect a:hover .icon {
    transform: rotate(-360deg);
}

.contactSection form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contactSection form label {
    color: #d8d8d8;
    font-size: 22px;
    font-weight: 500;
}

.contactSection form input {
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #323232;
    color: #A0A0A0;
    font-size: 18px;
}

.contactSection form textarea {
    border: none;
    width: 700px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 4px;
    background: #323232;
    color: #A0A0A0;
    font-size: 18px;
    font-family: 'Times New Roman', Courier, monospace;
}

.contactSection form button {
    border: none;
    color: #fff;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 -5.09%, #B923E1 106.6%);
    font-size: 20px;
    padding: 15px 60px;
    cursor: pointer;
    margin-bottom: 50px;
    transition: 0.3s;
}

.contactSection form button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

@media (max-width:1025px) {
    .contactSection {
        display: block;
        gap: 50px;
    }
    .contactSection .left {
        align-items: center;
        margin-bottom: 50px;
    }
    .contactSection form label {
        font-size: 18px;
    }
    .contactSection form input {
        height: 50px;
        border-radius: 30px;
        font-size: 16px;
    }
    .contactSection form textarea {
        border-radius: 30px;
        font-size: 16px;
    }
    .contactSection form button {
        font-size: 16px;
        padding: 10px 30px;
    }
}

@media (max-width:768px) {
    .contact {
        margin: 10px 10px;
    } 
    .contactSection {
        display: block;
    }   
    .contactSection .left {
        align-items: center;
        margin-bottom: 50px;
    }
    .contactSection form label {
        font-size: 18px;
    }
    .contactSection form input {
        height: 50px;
        border-radius: 30px;
        font-size: 16px;
    }
    .contactSection form textarea {
        border-radius: 30px;
        font-size: 16px;
    }
    .contactSection form button {
        font-size: 16px;
        padding: 10px 30px;
    }
}

@media (max-width:410px) {
    .contact {
        align-items: start;
        justify-content: start;
        margin: 0px 25px;
        margin-top: 80px;
        gap: 30px;
    }
    .contactSection .left {
        align-items: start;
    }
    .contactSection .left h1 {
        font-size: 32px;
    }
    .contactSection .left p {
        font-size: 16px;
    }
    .effect a {
        font-size: 20px;
        width: 40px;
        height: 40px;
    }
    .contactSection form {
        gap: 15px;
    }
    .contactSection form label {
        font-size: 16px;
    }
    .contactSection form input {
        height: 40px;
        border-radius: 30px;
        font-size: 14px;
        width: 350px;
    }
    
    .contactSection form textarea {
        border-radius: 30px;
        font-size: 14px;
        width: 350px;
    }
    .contactSection form button {
        font-size: 14px;
        padding: 10px 25px;
    }
}

/*********************** Footer Component CSS ***********************/

.footer {
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footerTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.footerTop .left {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footerTop .left img {
    width: 90px;
    height: 90px;
}

.footerTop .right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.email input{
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #323232;
    border: none;
    font-style: 20px;
    color: #A0A0A0;
    outline: none;
    width: 350px;
}

.footerButton {
    border: none;
    color: #fff;
    border-radius: 50px;
    background: linear-gradient(260deg, #DA7C25 -5.09%, #B923E1 106.6%);
    font-size: 20px;
    padding: 15px 60px;
    transition: 0.3s;
    cursor: pointer;
}

.footerButton:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.footerTop hr {
    margin: 0px;
}

.footerBottom {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

@media (max-width:1025px) {
    .footer {
        margin: 0px 30px;
    }
}

@media (max-width:768px) {
    .footer {
        margin: 0px 30px;
    }
    .footerTop {
        display: block;
    }
    .footerTop .left {
        justify-content: start;
        margin-bottom: 40px;
    }
    .footerTop .left img {
        width: 50px;
        height: 50px;
    }
    .footerTop .right {
        justify-content: end;
    }
    .email input {
        width: 200px;
        height: 5px;
    }
    .footerButton {
        font-size: 16px;
        padding: 10px 25px;
    }
}
@media (max-width:410px) {
    .footerTop .left {
        display: none;
    }
    .footerTop .right {
        justify-content: start;
        gap: 15px;
    }
    .footerButton {
        font-size: 14px;
        padding: 10px 15px;
    }
    .footerBottom p {
        font-size: 14px;
    }
}